@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* EVERYTHING */

/* CONTAINER LAYOUT */

.profile-main-display-container {
  display: flex;
  background-color: white;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand";
}

.Profile {
  background-color: white;
  width: 20%;
  padding: 20px;
  border-right: 1px solid #cecece;

  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.main-section {
  background-color: white;
  align-items: center;
  width: 35%;
  padding: 20px;
  border-right: 1px solid #cecece;
}

.display {
  align-items: center;
  margin: 10px;
  width: 45%;
  padding: 10px;
}

/* MAIN */

/* HEADER */

.header-container {
  background-color: #0056d2;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.header-title {
  padding: 15px;
  font-family: "Quicksand";
  font-weight: bold;
  color: white;
}

/* DROPDOWN */

.Dropdown-Container {
  margin-top: 20px;
  margin-bottom: 25px;
  background-color: #0056d2;
  height: 20px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

.Dropdown-Select {
  background-color: #0056d2;
  color: white;
  border: none;
  border-radius: 3px;

  font-family: "Quicksand";
  margin-bottom: 50px;
  font-size: medium;
}

.Dropdown-Select-Words {
  font-family: "Quicksand";
  color: white;
  font-size: medium;
}

/* TOPIC RESULTS */
.Topic-Container {
  background-color: #f5f5f5;
  padding: 10px;
}

.topic {
  display: flex;
  margin: 10px;
  background-color: white;
  font-size: small;
}

.left-column {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.right-column {
  width: 75%;
  text-align: left;
}

/* SUB TOPIC */
.single-topic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #cecece;
}

.sub-topic-div-right {
  float: right;
  width: 10%;
}

.input-checkbox {
  border: 2px solid #0056d2;
}

.sub-topic-div-left {
  float: left;
  width: 90%;
}
.sub-topic-text {
  padding: 0px;
  margin: 2px;
}

.percentage-text {
  padding: 0px;
  margin: 4px;
}

/* PROFILE SECTION */

.Welcome {
  width: 100%;
  height: auto;

  border-bottom: 1px solid #cecece;
  margin-bottom: 15px;
}

.Welcome-Text {
  margin-bottom: 0%;
  color: #0056d2;
}
.Welcome-Name {
  margin-top: 0%;
}

.Profile-Image-Container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

  border-bottom: 1px solid #cecece;
  margin-bottom: 15px;
}

.Profile-Image {
  position: relative;
  width: 80%;
  padding-bottom: 65%;
  background: white;
  border-radius: 50%;
  border: 1px solid #0056d2;
  text-align: center;
  margin-bottom: 15px;
}

.Profile-Info {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  text-align: left;
  font-size: small;

  border-bottom: 1px solid #cecece;
  margin-bottom: 15px;
}

/*  DISPLAY */

.display-week-and-topic-div {
  font-size: medium;
  font-family: "Quicksand";
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid #cecece;
  margin-bottom: 15px;
}

.display-weektopic-name-text {
  font-family: "Quicksand";
  font-size: 18px;
}

.display-topic-name-text {
  font-family: "Quicksand";
  font-size: 16px;
  font-weight: normal;
}

.display-subtopic-heading {
  font-size: 16px;
}
.display-summary-div {
  border-bottom: 1px solid #cecece;
}

.display-summary-text,
.display-syntax-text {
  font-size: 13px;
  font-family: "Quicksand";
}

.display-summary-heading,
.display-syntax-heading {
  font-family: "Quicksand";
  font-size: 14px;
}
