/* EVERYTHING */

.App {
  text-align: center;
  font-family: sans-serif;
}
 
 /* CONTAINER LAYOUT */

.App{
  display: flex;
  background-color: white;
  align-content: center;
  justify-content: center;
}

.Profile{
  background-color: white;
  width: 20%;
  padding: 20px;
  border-right: 2px solid #CECECE;
 
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  
}

.main-section{
  background-color: white;
  align-items: center;
  margin: 10px;
  width: 35%;
  padding: 10px;
}

.display{
  background-color:#F5F5F5;
  align-items: center;
  margin: 10px;
  width: 45%;
  padding: 10px;
}


/* MAIN */

/* DROPDOWN */

.Dropdown-Select {
  background-color: 0056D2;
  color: 0056D2;
  font-family: sans-serif;
  ;
}

.Dropdown-Select-Words {
  font-family: sans-serif;
}


/* TOPIC RESULTS */
.Topic-Container {
  background-color: #F5F5F5;
  padding: 10px;


}

.topic {
  display: flex;
  margin: 10px;
  background-color: white;
  font-size: small;

}

.left-column, .right-column {
  border: 2px solid green;
  width: 100%;
  text-align: left;

}

.single-topic {
  border: 2px solid blue;
  text-align: left;
}

.sub-title-text {
  padding:0px;
  margin:0px;
}

.percentage-text {
  padding:0px;
  margin:4px;
}

/* PROFILE SECTION */

.Welcome {
  width:  100%;
  height: auto;

  border-bottom: 2px solid #CECECE;
  margin-bottom: 15px;
}

.Welcome-Text {
  margin-bottom: 0%;
  color: blue;
}
.Welcome-Name {
  margin-top: 0%;
}

.Profile-Image-Container {
  width:  100%;
  height: auto;
  display: flex;
  justify-content: center;

  border-bottom: 2px solid #CECECE;
  margin-bottom: 15px;
}

.Profile-Image {
  
    position:relative;
    width:80%;
    padding-bottom:65%;
    background:white;
    border-radius:50%;
    border: 2px solid blue;
    text-align: center;
    margin-bottom: 15px;

  
    
  }
  
.Profile-Info {

  width: 100%;
  height:auto;
  background-color: white;
  border-radius: 10px;
  text-align: left;
  font-size: small;

  border-bottom: 2px solid #CECECE;
  margin-bottom: 15px;

  
}

