/* EVERYTHING */

.App {
  text-align: center;
}
 
 /* CONTAINER LAYOUT */

.App{
  display: flex;
  background-color: white;
  align-content: center;
  justify-content: center;
}

.Profile{
  background-color: #F5F5F5;
  align-items: center;
  margin: 10px;
  width: 25%;
  padding: 10px;
}

.main-section{
  background-color: #F5F5F5;
  align-items: center;
  margin: 10px;
  width: 45%;
  padding: 10px;
}

.display{
  background-color:#F5F5F5;
  align-items: center;
  margin: 10px;
  width: 25%;
  padding: 10px;
}


/* MAIN */

/* DROPDOWN */

.Dropdown-Select {
  background-color: 0056D2;
  color: 0056D2;
  font-family: sans-serif;
  ;
}

.Dropdown-Select-Words {
  font-family: sans-serif;
}


/* TOPIC RESULTS */


.topic {
  display: flex;
  margin: 10px;
  background-color: white;
}

.left-column, .right-column {
  border: 2px solid green;
  width: 100%;
  text-align: left;

}

.single-topic {
  border: 2px solid blue;
  text-align: left;
}

.sub-title-text {
  padding:0px;
  margin:0px;
}

.percentage-text {
  padding:0px;
  margin:4px;
}

/* PROFILE SECTION */


.Profile-Image {
  height: 100px;
  width: 100%;
  border-radius: 10px;
  background-color: antiquewhite;
  border: 2px solid red;
  margin-bottom: 15px;

}

.Profile-Info {
  height: 150px;
  width: 100%;
  background-color: antiquewhite;
  border: 2px solid red;
  border-radius: 10px;
  text-align: left;

}

